.container {
  margin-top: 40px;
}
.row .col-lg-8 .location {
  position: relative;
  margin-top: -6em;
  margin-left: 37.7em;
  text-transform: uppercase;
  font-style: bold;
}
.logo {
  margin-left: 40px;
  margin-bottom: -40px;
}
.logo h4 {
  border: 3px black solid;
  display: inline;
  padding: 10px;
  color: orangered;
  font-family: Georgia;
  font-weight: bold;
  font-size: large;
}
.navigation .nav-bar {
  margin-left: 700px;
}
.nav {
  display: inline-block;
  border-bottom: 3px solid orangered;
  margin: 20px;
}
.nav a {
  color: black;
  text-decoration: none;
  font-family: Georgia;
}
.description {
  position: relative;
  margin-bottom: 21em;
}
.container .col-lg-5 {
  background-color: lightgrey;
}
.container .col-lg-7 {
  background-color: lightgrey;
}
.photo {
  height: 290px;
  width: 270px;
  position: relative;
  margin-left: 20em;
  top: 2em;
}
.about {
  margin-top: -0.5em;
  margin-left: 13.25em;
  position: relative;
  height: 200px;
  width: 500px;
}
.about-text {
  color: orangered;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
}
.location {
  position: relative;
  margin-top: 8em;
  margin-left: 36.7em;
}
.introduction {
  background-color: lightgray;
  max-width: 1100px;
  max-height: 500px;
  height: 400px;
}
h1 {
  font-size: 42px;
}
.details {
  font-weight: bold;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
.box {
  max-width: 500px;
  border: 2px black solid;
  width: 490px;
  height: 300px;
  background-color: white;
}
.experience {
  margin-left: 80px;
}
.contain {
  max-width: 400px;
  display: inline-block;
  height: 200px;
  padding: 40px;
}
.project {
  position: relative;
  margin-left: 12em;
  margin-top: 4em;
}
.contact {
  padding-bottom: 70px;
}
form {
  margin-left: 400px;
}
input {
  height: 30px;
  width: 500px;
  display: block;
  margin-bottom: 15px;
  background-color: lightgrey;
  color: grey;
}
.comment .greet {
  margin-top: 20px;
  margin-bottom: 63px;
}
button {
  height: 30px;
  width: 60px;
  margin-left: 445px;
  color: white;
  background-color: orangered;
  border-radius: 5px;
}
.images {
  margin-left: 500px;
}
.images .size {
  height: 30px;
  width: 30px;
  -ms-wrap-margin: auto;
}
.bye {
  display: inline-block;
  padding: 5em;
}
