.name {
  margin-top: 40px;
}
.name .logo {
  margin-left: 40px;
  margin-bottom: -40px;
}
.name h4 {
  border: 3px black solid;
  display: inline;
  padding: 10px;
  color: hotpink;
}
.nav-bar {
  margin-left: 700px;
}
.navigation {
  display: inline-block;
  border-bottom: 3px solid orangered;
  margin: 20px;
}
.description .photo {
  margin-top: 50px;
  height: 290px;
  width: 270px;
  position: relative;
  margin-left: 100px;
}
.description .title {
  position: relative;
  bottom: 2em;
  left: 6.75em;
  color: hotpink;
  font-size: 50px;
}
.description .location {
  margin-top: 2em;
  margin-left: 0em;
  position: absolute;
  height: 200px;
  width: 500px;
}
.introduction .details {
  position: relative;
  background-color: lightgray;
  max-width: 1100px;
  max-height: 500px;
  height: 400px;
}
.introduction .li {
  font-size: 1.05em;
  list-style-type: none;
}
.project .project-image {
  height: 200;
  width: 175;
}
.greet {
  margin-top: 80px;
  margin-left: 305px;
  font-weight: bold;
  text-transform: uppercase;
}
